
body { background-color: gray;}
img { border-radius:0.5rem;}
h1 { color:red;}
h2 { color: blue;}
h3 { color:yellow;}
h4 { color: green;}
h5 { color:orange;}
h6 { color: red;}
button { border-radius: 0.5rem;}
i { color: black;}
pre { color: black;}
.a {color:yellow}

